/*--------------------------------------------
Push Button CSS
--------------------------------------------*/
QPushButton {
    color: #26a1e3; 
    background: transparent;
    border: 1px solid #d5dde9;
    border-radius: 14px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    border: 1px solid #cbd5e1;
}
QPushButton:pressed {
    background: #1498df;
    color: #ffffff;
}
QPushButton::disabled {
    color: rgba(38, 161, 227, 40%);
    background: rgba(255, 255, 255, 60%);
    border: 1px solid rgba(209, 219, 231, 40%);
}