/*--------------------------------------------
Push Button CSS
--------------------------------------------*/
QPushButton {
    color: #4f9fdd; 
    background: transparent;
    border: 1px solid #49587a;
    border-radius: 14px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    border: 1px solid #5d6b8f;
}
QPushButton:pressed {
    background: #4697D9;
    color: #ffffff;
}
QPushButton::disabled {
    color: rgba(79, 159, 221, 40%);
    background: rgba(25, 40, 73, 60%);
    border: 1px solid rgba(70, 88, 127, 40%);
}