/*--------------------------------------------
Button White CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: rgba(0, 79, 255, .5);
    border: 1px solid rgba(0, 79, 255, .5);
    border-radius: 12px;
    padding: 6px;
}
QPushButton:hover{
    border: 1px solid #bababb;
    color: #ffffff;
}
QPushButton:pressed {
    background: #1E2B47;
    border: none;
    color: #c4c4c4;
}
QPushButton:disabled {
    background: #f7f7f7;
    border: 1px solid #cdcdce;
    color: #b3b3b4;
    padding-top: 5px;
}
